name: youstory-local

services:
  pb:
    build:
      context: pb
      dockerfile: Dockerfile
    environment:
      - PB_EMAIL=${PB_EMAIL}
      - PB_PASSWORD=${PB_PASSWORD}
    volumes:
      - ./pb/pb_data:/pb/pb_data
  app:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - ENV=${ENV}

  meili:
    image: getmeili/meilisearch:latest
    ports:
      - '7700:7700'
    volumes:
      - ./meili/data:/meili_data
    environment:
      - MEILI_MASTER_KEY=${MEILI_MASTER_KEY}
